/* .intro {
 background-image: url("cake-image/cake13.jpg");
 text-align: center;
 padding: 300px 20px;
 margin: 0px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position:  center;
 position: relative;
 z-index: 1;
     
} */

/* .intro .content {
   color: white;
   position: absolute;
   bottom: 9%;
   width: 60%;
   left: 23%;
   text-align: center;
   z-index: 10;
   
} */

.top-content {
   background-image: url('cake-image/cake3.jpg');
   background-repeat: repeat-y;
   background-size: cover;
   background-position: center center;
   padding: 200px 0px;
   margin: 0px;
   position: relative;
   
   
}

.top-content h4 {
   font-family: 'Gochi Hand', cursive;
   font-family: 'Shadows Into Light Two', cursive;
   font-family: 'Kalam', cursive;
   font-size: 40px;
   position: absolute;
   top: 100px;
   right: 50px;
   text-align: center;
   
}
.top-content h6 {
   font-family: 'Gochi Hand', cursive;
   font-family: 'Shadows Into Light Two', cursive;
   font-family: 'Kalam', cursive;
   font-size: 20px;
   position: absolute;
   top: 200px;
   right: 50px;
   text-align: center;
   
}


.parent .slider .slides li h2 {
   font-family: lato;
}

.cakes .cake-one {
   display: block;
   position: relative;
}
.cakes .cake-one h5{
   position: absolute;
   left: 250px;
   top: 35px;
   font-family: cursive;
   font-weight: bold;
}
.cakes .cake-one p{
   position: absolute;
   left: 250px;
   top: 85px;
}


.cakes .cake-two {
   display: block;
   position: relative;
}

.cakes .cake-two h5{
   position: absolute;
   left: 250px;
   top: 35px;
   font-family: cursive;
   font-weight: bold;
}
h3 {
   font-family: 'Gochi Hand', cursive;
    font-size: 50px;
}


h5 {
   font-family: 'Gochi Hand', cursive;
}




.best img{
  display: inline;
  margin: 20px 30px;
  border-left: 10px solid black;


  border-radius: 15px;
  border-bottom: 8px solid maroon;

  


}

.cakes .cake-two p{
   position: absolute;
   left: 250px;
   top: 85px;
}
.cakes .cake-three {
   display: block;
   position: relative;
}

.cakes .cake-three h5{
   position: absolute;
   left: 250px;
   top: 35px;
   font-family: cursive;
   font-weight: bold;
}

.cakes .cake-three p{
   position: absolute;
   left: 250px;
   top: 85px;
}




body {
   background-color: white;
} 

/* .cakes p {
   float: right;
} */

.cakes img {
  padding-bottom: 30px;
  display: block;
  position: relative;
  left: 20px;
  top: 30px;
}





* {
   margin: 0;
   padding: 0;
}

.intro {
   background-image: url("cake-image/cake17.jpg");
   text-align: center;
   padding: 350px 20px;
   margin: 0px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position:  center;
   position: relative;
   z-index: 1;
       
  }

  .intro .content {
   color: white;
   position: absolute;
   top: 0%;
   width: 60%;
   left: 18%;
   text-align: center;
   z-index: 10;
   font-family: 'Gochi Hand', cursive;
    font-size: 60px;
   
}

body {
   background-color: #f7f7f7;
}

footer {
   padding: 30px;
}

.header ul li {
   /* float: left; */
   display: inline;
   padding: 10px 10px;
   font-size: 20px;
   color: white;
  

}



.header ul {
   margin : 0px;
   background-color: rgb(102, 0, 0);
   z-index: 10;
   width: 100%;
   display: flex;
   justify-content: center;
  
   padding: 10px;
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }